#slide_box {
    width: 1600px;
    height: 800px;
    position: relative;
    overflow: hidden;
    margin-left: 150px;
}

#slider {
    animation: slide 10s linear infinite;
    position: absolute;
}

.slide {
    width: 1600px;
    height: 1200px;
    font-size: 50px;
    position: absolute;
    background-size : contain;
}

.slide > h4 {
    position: absolute;
    margin-top: 700px;
}

#slide1, #slide5 {
    background-image: url("./images/07.jpg");
}

#slide1 {
    left: 0px;
}

#slide2 {
    left: 1600px;
    background-image: url("./images/08.jpg");
}

#slide3 {
    left: 3200px;
    background-image: url("./images/09.jpg");
}

#slide4 {
    left: 4800px;
    background-image: url("./images/10.jpg");
}

#slide5 {
    left: 6400px;
}

@keyframes slide {
    0% {
        left: 0%;
    }

    10% {
        left: 0%;
    }

    15% {
        left: -100%;
    }

    35% {
        left: -100%;
    }

    40% {
        left: -200%;
    }

    60% {
        left: -200%;
    }

    65% {
        left: -300%;
    }

    85% {
        left: -300%;
    }

    90% {
        left: -400%;
    }

    100% {
        animation-fill-mode : forwards;
    }

}

#ranking {
    margin-top: 100px;
    display: flex;
}

/* #league {
    
} */

#check-btn {
    display: none; 
}

#check-btn:checked ~ .top {
    display: block; 
}

.top {
    display: none; 
}

.rank {
    width: 300px;
    height: auto;
    margin-left: 150px;
}

input[type="radio"] {
    display: none;
}

details {
    width: 300px;
    text-align: left;
    margin: 0 0 24px 0;
    max-height: 2em;
    overflow: hidden;
    transition: max-height 400ms ease-out;
}

details:last-child {
    margin: 0;
}

input[type="radio"]:checked + details {
    max-height: 300px;
}

summary {
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    color: #05309D;
    cursor: pointer;
    display: flex;
    align-items: center;
}

summary::before {
    content: "!";
    margin-right: 10px;
}

.content {
    font-size: 18px;
    color: #181B21;
    background-color: #F7F8F8;
    border-radius: 10px;
    padding: 32px 24px;
}